@use 'primevue/resources/themes/lara-light-blue/theme.css';
@use 'primevue/resources/primevue.min.css';
@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';

html {
  min-width: 320px;
  background-color: var(--surface-ground);
}

.field-horizontal {
  margin-bottom: 0.5rem;

  label {
    margin-bottom: 0;
  }
}

a.no-decoration {
  text-decoration: none;
}

.ja-break-word {
  overflow-wrap: break-word; word-break: keep-all;
}

.en-break-word {
  word-break: break-all;
}

/// ////////////////////////////////////////
/// 以下 水平フォーム

.field-horizontal {
  display: flex;
  align-items: center;
  height: 2.625rem;

  label:first-child {
    width: 180px; // 横幅
  }

  .p-inputgroup {
    align-items: center;
    width: unset;
  }

  .p-inputgroup-addon {
    height: 2.625rem;
  }

  .p-component {
    height: 2.625rem;

    &.p-checkbox {
      align-items: center;
      margin-right: 0.25rem;
    }

    &.p-inputnumber .p-inputnumber-button {
      border-radius: 0;
    }
  }
}

/// ////////////////////////////////////////
/// 以下 Scrollbar の調整

/* total width */
::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
  height: 12px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #cfcfd3;
  border-radius: 12px;
  border: 3px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display:none;
}

/// ////////////////////////////////////////
/// 以下 PrimeVue の調整

.p-dialog {
  .p-dialog-header {
    padding: 1rem;
    border-bottom: var(--surface-border) 1px solid;
  }
  .p-dialog-content {
    padding: 1rem;
  }
  .p-dialog-footer {
    padding: 1rem;
    border-top: var(--surface-border) 1px solid;
  }
}

.p-sidebar {
  .p-sidebar-header {
    padding: 0.5rem 1rem;
    border-bottom: var(--surface-border) 1px solid;
    justify-content: space-between
  }
  .p-sidebar-content {
    padding: 1rem !important;
  }
}
